html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../img/background.png');
  }

  #end {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../img/end-background.png');
    background-size: cover; /* Default to cover */
    background-position:center;
    background-repeat: no-repeat;
}

#gameover {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('../img/gameover.png');
  background-size: cover; /* Default to cover */
  background-position:center;
  background-repeat: no-repeat;
}

  #title {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: none;
  }

  #mainbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: none;
  }

  #history{
    position: relative; /* Position the text relative to this container */
    background-image: url(../img/history.png);
    background-size: cover; /* Optional: to cover the container with the background image */
    background-position: center; /* Optional: to center the background image */
    width: auto;
    height: auto;
    color: white; /* Text color */
    padding-left: 45px;
    padding-top: 7px;
  }

  .index-hover {
    text-decoration: none;
    color: #d7c026;
    font-weight: bolder;
  }

  /* CSS for the text when hovered */
  .index-hover:hover {
    color: #88C9ED; /* Text color on hover */
    text-decoration: none;
  }

  .hover-text {
    vertical-align: middle;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff; /* Default text color */
  }

  /* CSS for the text when hovered */
  .hover-text:hover {
    color: #88C9ED; /* Text color on hover */
    text-decoration: none;
  }

  .overlay-text {
    position: absolute;
    top: 9%; /* Position the text at the vertical center */
    left: 30%; /* Position the text at the horizontal center */
    transform: translate(-50%, -50%); /* Center the text both horizontally and vertically */
    color: white; /* Text color */
  }

  .circular-progress {
    width: 100px; /* Outer ring size */
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .inner-circle {
    width: 85%; /* Inner circle size */
    height: 85%;
    background-color: #002151; /* Inner circle color */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1; /* Ensure it is above the outer ring */
  }
  
  .percentage {
    font-size: 22px;
    font-weight: bold;
    color: white; /* Text color */
    vertical-align: middle;
    line-height: 60%;
  }
  
  .outer-ring {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(#2F668C 0%, #2F668C 0%, #f5f4f4 0% 100%);
    position: absolute;
    z-index: 0; /* Ensure it is below the inner circle */
  }
  

  .my-card {
    position: relative;
    overflow: hidden;
    transition: background-image 0.5s ease-in-out;
    width: 260px;
    height: 370px;
}

.my-card .card-content {
    position: relative;
    z-index: 1;
}

.my-card:hover {
  background-image: url('../img/card-hover.png');
  background-size: cover;
  background-position: center;
}

.hovertest:hover::before {
  content: '';
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: 40%; /* Center the arrow horizontally */
  transform: translateX(-50%); /* Center the arrow horizontally */
  width: 22px; /* Adjust the width as needed */
  height: 22px; /* Adjust the height as needed */
  background-image: url('../img/arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.selection-card {
  position:relative;
  width: 70%;
  margin: 0 auto;
  transition: background-image 0.5s ease-in-out;
}


.selection-card:hover {
  background-image: url('../img/selection-hover.png');
  background-size:contain;
  background-position:center;
}

.selection-card:hover::before {
  content: '';
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  left: -5%; /* Center the arrow horizontally */
  transform: translate(-50%, 50%) rotate(-90deg); /* Rotate the text */
  width: 28px; /* Adjust the width as needed */
  height: 28px; /* Adjust the height as needed */
  background-image: url('../img/arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sticky-row {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  background-color:unset; /* Optional: set a background color */
  z-index: 1000; /* Ensure it stays on top of other content */
  padding: 10px; /* Optional: add some padding */
}

.sticky-col {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 100;
  z-index: 1000;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 65%; /* Same width as the image */
}
.image-container img {
  width: 100%;
  height: auto;
}
.image-container .overlay-text {
  position: absolute;
  top: 45%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%) rotate(-35deg); /* Rotate the text */
  color: black; /* Adjust text color */
  font-weight: bolder; /* Adjust text style */
  font-size: 36px;
}

.info-container img {
  width: 100%;
  height: 500px;
}

.info-container .overlay-text {
  top: 50%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  color: black; /* Adjust text color */
  font-weight:lighter;
  font-size: 18px;
  text-align: center;
}

.info-container .overlay-button {
  text-align: center;
  left: 50%; /* Adjust as needed */
  color: black; /* Adjust text color */
  font-weight:lighter;
  font-size: 24px;
  text-decoration: none;
}

.hidden-section {
  display: none;
}

/* Show the section when it's revealed */
.visible-section {
  display: block;
}

.arrow {
  width: 15px; 
  height: 0; 
  background-color: #000; /* Color of the arrow */
  margin: 0 auto; /* Center the arrow horizontally */
  display: none; /* Hide by default */
  transition: height 2s, transform 2s;
}

.arrow-head {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000; /* Color of the arrow head */
  margin: 0 auto;
  opacity: 0;
  transition: opacity 1s;
}


/* Word Search Puzzle Game */
#word-search {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-gap: 2px;
  margin: 20px auto;
  justify-content: center;
}

.cell {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}

.selected {
  background-color: #205e55;
  color: #fff;
}

.crossed-out {
  text-decoration: line-through;
}

.completed {
  background-color: #d7c026;
  color: #fff;
}

.modal-open {
  overflow: hidden; /* Prevent scrolling of the background */
  pointer-events: none; /* Disable all pointer events on the body */
}

/* Modal Styles */
#modal {
  display: none; 
  position: fixed; 
  z-index: 2000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

#modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  z-index: 1051; /* Ensure the modal content is above the backdrop */
  pointer-events: auto; /* Re-enable pointer events for the modal content */
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #35867a;
  height:8%;
}

